<!doctype html>
<title>Burnside Library Summer Reading Program</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='sha3.js') }}"></script>
<div class=page>
  <h1>iRead</h1>
  <div class=metanav>
    {% if not session.logged_in %}
       <p> Login <a href="login">here!</a> </p>
       <p> Don't have an account yet? <a href="register">Create one here!</a></p>
     
      
    {% else %}
       <p> Log out<a href="logout">here!</a> </p>
      
     
    {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>

